services:
  api:
    image: ${PROJECT_REPO}
    container_name: api
    restart: always
    networks:
      - networkserver
    ports:
      - 3000:3000
  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    networks:
      - networkserver
    ports:
      - 80:80
    volumes:
      - "./nginx/default.conf:/etc/nginx/conf.d/default.conf"
      - "./nginx/nginx.conf:/etc/nginx/nginx.conf"
      # - "./nginx/ssl:/etc/nginx/ssl"

# Declare networks
networks:
  networkserver:
    name: networkserver
    external: true
